@model IEnumerable<SGE.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Salas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadInativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadAtivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadInativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SalaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SalaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SalaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="    display: flex;
    justify-content: space-around;
margin-top: 320px;">
    <div style="    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px color(0, 0, 0);
    background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);">
        <a asp-controller="AlunosTurma" asp-action="ListaAlunos">
            <svg class="mx-2" bootstrap-icon="ArrowLeftCircleFill" width="30px" height="30px" color="#a7a7a7">
            </svg>
        </a>
    </div>

    <div style="    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px color(0, 0, 0);
    background:rgba(0,0,0, 0.4); backdrop-filter:saturate(180%) blur(20px);">
        <a asp-controller="ReservasSala" asp-action="Reservas">
            <svg class="mx-2" bootstrap-icon="ArrowRightCircleFill" width="30px" height="30px" color="#a7a7a7">
            </svg>
        </a>
    </div>
</div>